{{ define "main" }}

<div class="homepage-content">

  <!-- This keeps your banyan image + text from _index.md -->
  {{ .Content }}
  <br>
  <!-- Social Icons -->
  <div class="social-links">

    <!-- X (Twitter) -->
    <a href="https://x.com/ArunaKiran1" target="_blank" title="X">
      <img src="/images/twitter.png" alt="X">
    </a>

    <!-- LinkedIn -->
    <a href="https://linkedin.com/in/jarunakiran" target="_blank" title="LinkedIn">
      <img src="/images/linkedin.png" alt="LinkedIn">
    </a>

    <!-- GitHub -->
    <a href="https://github.com/JArunaKiran" target="_blank" title="GitHub">
      <img src="/images/github.png" alt="Github">
    </a>

    <!-- Pinterest -->
    <a href="https://in.pinterest.com/jarunakiran" target="_blank" title="Pinterest">
     <img src="/images/pinterest-logo.png" alt="Pinterest">
    </a>

  </div>

</div>

{{ end }}